.button {
    border-radius: 0.3rem;
    color: #f7f7f7;
    padding: 8px 26px; 
    transition: 0.5s;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    outline: none;

    &__hero {
        background: #05a0af;
        font: 400 0.98rem 'neotericbold' , sans-serif;
    
        &:hover {
            background: darken(#05a0af, 20%);
        }
    }

    &__service {
        background: #959595;
        font: 400 1.2rem 'sansationregular' , sans-serif;
    }
}
 
.button__service-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    color: #363737;
    background: #089eac;
    font-size: 1.5rem;
    text-decoration: none;

    &:first-of-type {
        margin-right: 1px;
    }
}
.button-form {
    height: 45px;
    width: 99px;
    color: #097e89;
    background: #fff;
    font: 500 1.2rem "MYRIADPRO-REGULAR" , sans-serif;
    word-spacing: -1px;

    &:hover{
        background: darken(#fff, 15%);
        color: darken(#089eac, 15%);
    }
}

.button-footer {
    width: 103px;
    height: 44px;
    box-sizing: border-box;
    background: #0072bc;
    border: 1px solid #cccccc;
}