.button {
    border-radius: 0.3rem;
    color: #f7f7f7;
    padding: 8px 26px; 
    transition: 0.5s;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    outline: none;

    &__hero {
        background: #05a0af;
        font: 400 0.98rem 'neotericbold' , sans-serif;
    
        &:hover {
            background: darken(#05a0af, 20%);
        }
    }

    &__service {
        background: #959595;
        font: 400 1.2rem 'sansationregular' , sans-serif;
    }
}
 
.button__service-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    color: #363737;
    background: #089eac;
    font-size: 1.5rem;
    text-decoration: none;

    &:first-of-type {
        margin-right: 1px;
    }
}

