@import "../../node_modules/font-awesome/scss/font-awesome.scss";
@import "../../node_modules/normalize.scss/normalize.scss";



 @import "global/base";
 @import "global/fonts";
 @import "global/commons";
 @import "global/button";
 @import "global/mixin";
 @import "global/sprite";
 @import "global/icon";
 @import "global/vars";
 @import "global/nav";


 @import "section/header";
 @import "section/hero";
 @import "section/service";
 @import "section/title";
 @import "section/feedback";
 @import "section/client";
 @import "section/form";
 @import "section/footer";

 


