.form {
    padding: 2rem 5rem 5.5rem 3rem;
    background: #097e89;
    color: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: space-between;
    
    &__text {
        flex:0 0 43%;
        display: flex;
        flex-flow: column nowrap;
        text-align: left;
        margin-right: 3rem
    }

    &__title {
        font: 400 3rem 'sansationregular' , sans-serif;
        color: #fff;
        margin-bottom: 2rem;
        word-spacing: -0.2rem;
        letter-spacing: -0.1rem;
    }
    &__description {
        font: 400 1.2rem/2rem'sansationregular' , sans-serif;
        letter-spacing: -0.05rem;
        word-spacing: -0.02rem;
    }

    &__fields {
        flex:0 0 57%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    &__input {
        flex:0 0 206px;
        padding: auto;
        padding-left: 2rem;
        height: 45px;
        background: #097e89;
        border: 1px solid rgba(255, 255, 255, 0.7);
        border-right: none;
        border-radius: 2px 0 0 2px;
        font: 400 1.2rem/2rem'sansationregular' , sans-serif;

        &::-webkit-input-placeholder {
            color:  rgba(255, 255, 255, 0.7);
            font: 400 1.2rem/2rem'sansationregular' , sans-serif;
        }

        &:last-of-type {
            flex: 0 0 202px;
            border-radius: 0;
        }
    }
}

