.title {
    // text-align: center;
    padding: 5rem 3.8rem 5.5rem 3.8rem;
    background: #373737;
    color: #fff;
    
    &__wrap {
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }
    &__line {
        width: 34%;
        height: 1px;
        background: #f2f2f2;
        position: relative;
        bottom: 0.7rem;

        &:nth-child(1)::after {
            content: "";
            width: 25%;
            height: 3px;
            position: absolute;
            bottom: -100%;
            right:0;
            display: block;
            background: #fff;
            }

        &:nth-child(3)::before {
            content: "";
            width: 25%;
            height: 3px;
            position: absolute;
            bottom: -100%;
            left:0;
            display: block;
            background: #fff;
            }
    }

    &__text {
        font: 400 4rem 'sansationregular' , sans-serif;
        position: relative;
        text-transform: uppercase;
    }
    &--color {
        background: #fefefe;
        color: #656464;

    }
    &__line--color {
        background: #656464;

        &:nth-child(1)::after {
            content: "";
            width: 25%;
            height: 3px;
            position: absolute;
            bottom: -100%;
            right:0;
            display: block;
            background: #656464;
            }

        &:nth-child(3)::before {
            content: "";
            width: 25%;
            height: 3px;
            position: absolute;
            bottom: -100%;
            left:0;
            display: block;
            background: #656464;
            }
    }
}

