.container
    section.title.title--color
        .title__wrap.title__wrap--color
            .title__line.title__line--color
            h2.title__text clients
            .title__line.title__line--color
    section.client
        ul.client__list
            li.client__item
                 .icon-adobe_systems_logo
            li.client__item
                .icon-guideline-based
            li.client__item
                .icon-infosys-logo
            li.client__item
                .icon-invision
            li.client__item
                .icon-cisco-logo
            li.client__item
                .icon-behance
            li.client__item
                .icon-canva
            li.client__item
                .icon-instagram
            
