.container
    section.title.title--color
        .title__wrap.title__wrap--color
            .title__line.title__line--color
            h2.title__text clients
            .title__line.title__line--color
    section.client
        ul.client__list
            li.client__item
                 .icon-adobe_systems_logo
            li.client__item
                .icon-guideline-based
            li.client__item
                .icon-infosys-logo
            li.client__item
                .icon-invision
            li.client__item
                .icon-cisco-logo
            li.client__item
                .icon-behance
            li.client__item
                .icon-canva
            li.client__item
                .icon-instagram
    section.form
        .form__text 
            h3.form__title Any Queries | Get a quote
            p.form__description If you have any questions or queries regarding our service or pricing don’t worry  Our experts will call you.
        .form__fields
            input.form__input(type="text", placeholder="Your name")
            input.form__input(type="text", placeholder="Your number")
            button(type="submit").button-form Get a call
