.container
    section.title
        .title__wrap
            .title__line
            h2.title__text feedback
            .title__line
    section.feedback
        .feedback__text-wrap
            p.feedback__text It was always a pleasur doing bussiness with them. I love the quality of work.
            .feedback__scroll-block
                i.fas.fa-chevron-left.feedback-arrow
                span.feedback__number 1/10
                i.fas.fa-chevron-right.feedback-arrow
        ul.feedback__list
            li.feedback__item
                span.feedback__number-image 01
                p.feedback__description Imran Khan
            li.feedback__item
                span.feedback__number-image 01
                p.feedback__description Imran Khan
            li.feedback__item
                span.feedback__number-image 01
                p.feedback__description Imran Khan



