.container
    footer.footer
        .footer__info-list
            ul.footer__list
                li.footer__item
                    h3.footer__title Product
                li.footer__item
                    span Cost & Governance
                li.footer__item
                    span Security & Complaince
                li.footer__item
                    span Product N
                li.footer__item
                    span Pricing & plans
            ul.footer__list
                li.footer__item
                    h3.footer__title LEARN
                li.footer__item
                    span Articles
                li.footer__item
                    span Register a demo
                li.footer__item
                    span Webinars
                li.footer__item
                    span FAQs
            ul.footer__list
                li.footer__item
                    h3.footer__title COMPANY
                li.footer__item
                    span About
                li.footer__item
                    span Careers
                li.footer__item
                    span Partners
                li.footer__item
                    span Contact
        .footer__field
            .footer__form-field
                input(type="email", placeholder="Your email").footer__input
                button(type="submit").button-footer Subscribe
            .social-icon
                .footer__icon
                    a(href="http://facebook.com", target="_blank",)
                        i.fuck.fab.fa-facebook-f(aria-hidden="true")
                .footer__icon
                    a(href="https://twitter.com", target="_blank",) 
                        i.fuck.fab.fa-twitter(aria-hidden="true")
                .footer__icon
                    a(href="https://www.google.com/?hl=uk", target="_blank",)
                        i.fuck.fab.fa-google-plus-g(aria-hidden="true")
                .footer__icon
                    a(href="https://www.google.com/?hl=uk", target="_blank",)
                        i.fuck.fas.fa-basketball-ball
                .footer__icon
                    a(href="https://www.behance.net", target="_blank",)
                        i.fuck.fab.fa-behance
                .footer__icon
                    a(href="https://www.instagram.com", target="_blank",)
                        i.fuck.fab.fa-instagram
