.container
    section.hero
        ul.hero__menu
            li.hero__item 
                ficure
                    img(src="../images/Rectangle 3.jpg", alt="foto").hero__picture
            li.hero__item
                h2.hero__title  A little about us
                p.hero__text  We are  a company based in india with the motto “Digitalally Designed India”. We are  a company based in india with the motto“Digitalally  Designed India”. We are  a company based in indiawith the motto “Digitalally  Designed India”.
                p.hero__text  We are  a company based in india with the motto “DigitalallyDesigned India”. We are  a company based in india with the motto “Digitalally Designed India”.  We are  a company based inIndia with the motto “Digitalally Designed India”.  We are  a company based in india with the motto “Digitalally Designed India”.
                button.button.button__hero READ MORE DETAILS
                

