.container
    section.title
        .title__wrap
            .title__line
            h2.title__text OUR SERVICES
            .title__line
    section.service
        ul.service__list
            li.service__item
                i.fas.fa-laptop.service__icon(aria-hidden="true")
                h3.service__header-title WEB DEVELOPMENT
                p.service__text We provide the best world class web development service We provide the best world class web development service
                button.button.button__service more details
            li.service__item
                i.fas.fa-laptop.service__icon(aria-hidden="true")
                h3.service__header-title WEB DEVELOPMENT
                p.service__text We provide the best world class web development service We provide the best world class web development service
                button.button.button__service more details
            li.service__item
                i.fas.fa-laptop.service__icon(aria-hidden="true")
                h3.service__header-title WEB DEVELOPMENT
                p.service__text We provide the best world class web development service We provide the best world class web development service
                button.button.button__service more details 
        .button-wrapp
            a.button__service-arrow(href="#"): i.fa.fa-angle-left
            a.button__service-arrow(href="#"): i.fa.fa-angle-right
                